# Database
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"

# NextAuth
NEXTAUTH_SECRET="your-secret-key-here-generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# UploadThing
UPLOADTHING_SECRET=""
UPLOADTHING_APP_ID=""

# Resend (Email)
RESEND_API_KEY=""
RESEND_FROM_EMAIL="noreply@dynexa.com"

# İyzico (Payment)
IYZICO_API_KEY=""
IYZICO_SECRET_KEY=""
IYZICO_BASE_URL="https://sandbox.iyzipay.com"
